.navbar-custom{
    background-color: #663c06;
    
}
.links  {
    color: #ffffff; /* Cambia este color al que prefieras */
    text-decoration: none; /* Elimina el subrayado */
    margin-right: 150px;
    font-size: larger;
}