.navbar-custom{
    background-color: #3d3122;
    
}
.links  {
    color: #ffffff; /* Cambia este color al que prefieras */
    text-decoration: none; /* Elimina el subrayado */
    margin-right: 150px;
    font-size: x-large;
}